body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  background: #f9f9f9;
}

button {
  background-color: #3483fa;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2968c8;
}
